package ${packageName}.service;

import java.util.List;

import com.imi.common.base.IBaseService;
import ${packageName}.domain.${ClassName};
#if($table.tree)
import com.imi.common.core.domain.Ztree;
#end

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IBaseService<${ClassName}>{

    /**
     * 查询${functionName}列表
     *
     * @param ${className} ${functionName}
     * @return ${functionName}集合
     */
     List<${ClassName}> select${ClassName}List(${ClassName} ${className});


}
